<!DOCTYPE html>
<html>
<head>
  <title>ThirdRail</title>
  <%= stylesheet_link_tag    "third_rail/application", media: "all" %>
  <%= javascript_include_tag "third_rail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
